.avatar-circle {
  border-radius: 50%;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e9d5ff;
  color: var(--color-bg-tertiary);
  font-weight: 600;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.173);
  transition: all 0.3s ease;
}

.avatar-circle:hover {
  cursor: pointer;
  transform: translateY(-1px);
  color: #8e28ec;
}
