.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-sm);
  font-weight: 500;
  border-radius: var(--border-radius-md);
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

/* --primary variant */
.btn--primary {
  background: var(--button-color-primary);
  color: #FBF8FF;
  box-shadow: 0 4px 12px rgba(99, 102, 241, 0.4);
}

/* --secondary variant */
.btn--secondary {
  background : transparent;
  color: rgb(52, 52, 52);
}
.btn--emergency{
  background : transparent;
  color: rgb(52, 52, 52);
}
.btn--emergency:hover{
  background-color: rgb(255, 56, 56);
  color: white;
}
.btn--secondary:hover {
  background-color: var(--button-color-secondary-hover);
  color: #00070F;
}

/* --comman variant */
.btn--common {
  background-color: var(--color-primary-dark); /* e.g., #dc3545 */
  color: var(--color-black);
  border-color: var(--color-primary);
}
.btn--common:hover {
  background-color: var(--button-color-secondary-hover);
  border-color: var(--button-color-secondary-hover);
}

/* --comman-black variant */
.btn--common-black {
  background-color: var(--danger-color); /* e.g., #dc3545 */
  color: #000000;
  border-color: var(--danger-color);
}
.btn--common-black:hover {
  background-color: var(--danger-hover-color);
  border-color: var(--danger-hover-color);
}

/* --verify button variant */
.btn--verify-button {
  background-color: var(--danger-color); /* e.g., #dc3545 */
  color: #000000;
  border-color: var(--danger-color);
}
.btn--verify-button:hover {
  background-color: var(--danger-hover-color);
  border-color: var(--danger-hover-color);
}

/* Disabled State (applies to all variants) */
.btn:disabled {
  background: #e4e3e3;
  color: #757275;
  cursor: not-allowed;
  box-shadow: none;
}