.infoContainer{
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FBF8FF;
}
.profileContainer{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 30px;
    align-items: center;
}
.profilepanel{
    width: 80%;
    height: 150px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px #00000040;
    display: flex; 
    align-items: center;
    justify-content: left;
    padding: 10px;
    margin-top: 30px;
    background-color: white;
}
.profilePic{
    width: clamp(100px, 100px, 100px);   /* minimum 80px, preferred 15vw, max 150px */
    height: clamp(100px, 100px, 100px);
    border-radius: 50%;
    background-color: #F3EAFF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    color: #9240FF;
}
.profilePic img{
    width: clamp(100px, 100px, 100px);   /* minimum 80px, preferred 15vw, max 150px */
    height: clamp(100px, 100px, 100px);
    border-radius: 50%;
}
.OverviewInformation{
    width: 200px;
    height: 100px;
    margin-left: 30px;
    font-size: 14px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.seperator{
    width: 1px;
    height: 100px;
    background-color: #9240FF;
}
.extraInformation{
    width: 300px;
    height: 100px;
    margin-left: 10px;
    font-size: 12px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.linkedAcc{
    width: 250px;
    height: 100px;
    margin-left: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.actionButtons{
    width: 250px;
    height: 100px;
    margin-left: 30px;
    font-size: 14px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 10px;
}
.actionButtons button{
    width:100px;
    border:0px;
    padding:8px;
    border-radius:20px;
    color:white;
    font-weight:500;
    cursor:pointer;
}
.OtherDetails{
    width: 80%;
    height: auto;
    display: flex;
    align-items: self-start;
    justify-content: space-between;
    margin-top: 30px;
}
.DailyInformationContainer{
    width: 50%;
    height: auto;
}
.AnalyticsContainer{
    width: 50%;
    height: auto;
}
.streakHistory{
    width: 95%;
    height: 300px;
    border-radius: 22px;
    box-shadow: 0px 2px 4px #00000040;
    background-color: white;
    padding: 20px;
}
.streakHistory h2{
    font-weight: 600;
}
.Achievements{
    width: 95%;
    height: 300px;
    border-radius: 22px;
    box-shadow: 0px 2px 4px #00000040;
    margin-top: 30px;
    background-color: white;
    padding: 20px;
    height: auto;
}
.Achievements h2{
    font-weight: 600;
}
.Analytics{
    width: 100;
    height: auto;
    border-radius: 22px;
    box-shadow: 0px 2px 4px #00000040;
    background-color: white;
    padding: 20px;
}
.Analytics h2{
    font-weight: 600;
}
.streakHolderContainer {
  display: grid;
  grid-template-columns: repeat(3, auto); /* 2 columns */
  grid-template-rows: repeat(2, auto);    /* 3 rows */
  column-gap: 5px;
  row-gap: 5px;
  margin-top: 10px;
  margin-left: 10px;
  overflow-x: scroll;
}
.streakHolderContainer::-webkit-scrollbar{
    display: none;
}
.streakHolder {
  width: 170px;
  height: 100px;
  border: 1.5px solid #DFE6EE;
  border-radius: 15px;
  padding: 10px;
}   
.StreakHolderheader{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
}
.StreakHolderInfo{
    font-size: 14px;
    margin-top: 10px;
    margin-left: 10px;
}
.AchievementHolder{
    display: grid;
    column-gap: 5px;
    row-gap: 5px;
    grid-template-columns: repeat(5, auto); /* 2 columns */
    grid-template-rows: repeat(2, auto);    /* 3 rows */
    margin-top: 10px;
    margin-left: 10px;
    overflow-x: scroll;
}
.AchievementHolder::-webkit-scrollbar{
    display: none;
}
.badge{
    width: 100px;
    height: 100px;
    background-color: black;
}
.fitScore{
    width: 100%;
    height: 200px;
    margin-top: 20px;
    border: 1.5px solid #DFE6EE;
    border-radius: 18px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.fitPlot{
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.scoreGraph{
    width: 100px;
    height: 150px;
    display: flex;
    align-items: center;
}
.fitSummary{
    width: 200px;
    height: 100%;
    background-color: #F3EAFF;
    border-radius: 8px;
}

.circular-score {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  transform: rotate(-90deg);
}

.bg {
  stroke: #e6e6e6;
}

.progress {
  stroke: #9240FF;
  transition: stroke-dashoffset 0.5s ease;
}

.text {
  font-size: 10px;
  fill: #333;
  transform: rotate(90deg);
}

@media screen and (max-width: 500px) {
    .profilepanel{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
    }
    .seperator{
        width: 80%;
        height: 2px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .OtherDetails{
        display: block;
    }
    .profilePic{
        margin-top: 10px;
        margin-left: 0px;
    }
    .OverviewInformation{
        margin-left: 0px;
    }
    .extraInformation{
        margin-left: 0px;
    }
    .linkedAcc{
        margin-left: 0px;
    }
    .DailyInformationContainer{
        width: 100%;
    }
    .streakHistory{
        width: auto;
        height: auto;
    }
    .streakHolderContainer{
        grid-template-columns: repeat(2, auto); /* 2 columns */
        grid-template-rows: repeat(3, auto);    /* 3 rows */
    }
    .actionButtons{
        display: flex;
        flex-direction: row;
        margin-left: 0px;
        height: 40px;
        justify-content: left;
    }
    .streakHolder{
        width: 130px;
    }
    .Achievements{
        width: 100%;
        margin-top: 10px;
    }
    .AnalyticsContainer{
        margin-top: 30px;
        width: 100%;
    }
    .AchievementHolder{
        grid-template-columns: repeat(2, auto); /* 2 columns */
        grid-template-rows: repeat(2, auto);    /* 3 rows */
    }
    .fitScore{
        height: auto;
        flex-direction: column;
        align-items: center;
    }
    .fitSummary{
        width: 100%;
        height: 200px;
    }
}